:root {
    --percentbar: 50%;
    --percentBarDone: 50%;
}

$primaryColor: #ffa928;
$secondaryColor: #0f0f0f;

@font-face {
    font-family: peyda;
    src: url("../fonts/PeydaWeb-Regular.woff");
    font-weight: normal;
}

@font-face {
    font-family: peyda;
    src: url("../fonts/PeydaWeb-Thin.woff");
    font-weight: 100;
}

@font-face {
    font-family: peyda;
    src: url("../fonts/PeydaWeb-Bold.woff");
    font-weight: 700;
}

body {
    direction: rtl;
    background-color: #010101;
    text-align: right;
    display: flex;
    margin: 0px;

    ul {
        display: flex;
    }

    main {
        width: calc(100% - 230px);
        padding-right: 48px;
        padding-left: 100px;
    }
}

.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: peyda;
}

.loadingUpload {

    padding: 8px 8px;
    top: 40px;
    border-radius: 12px;
    background-color: #1e1e1e;
}

.firstFrame {

    display: flex;
    flex-direction: column;
    padding: 5px;
    gap: 20px;
    height: 282px;
    align-self: stretch;
    flex-grow: 0;
}

.dashedBorder {
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    border: 2px dashed rgba(255, 255, 255, 0.25);
    border-color: gray;
    gap: 16px;

    height: 100%;
    align-self: stretch;
    border-radius: 10px;

}

.up_text_all {
    margin-top: 20px;
    padding: 10px;
    font-family: 'Peyda';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}



.loadingText {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    flex-direction: column-reverse;
    font-family: peyda;
    font-size: 20px;
    line-height: 30px;
    text-align: right;
    color: #FFFFFF;
    text-justify: auto;
}

.backLoadingBar {
    justify-content: center;
    position: relative;
    display: flex;
    text-align: center;
    border-radius: 20px;
    background-color: rgba(#555555, 50%);
    box-sizing: border-box;
    gap: 16px;
    width: 70%;
    height: 30px;
}

.loadingBar {
    font-family: 'Peyda';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    justify-content: right;
    color: #FFFFFF;
    position: absolute;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 3px;
    border-radius: 20px;
    // background-color: #FF7F38E5;
    background-image: linear-gradient(to right, #FF7F38, #FF8F31);
    box-sizing: border-box;
    left: 0px;
    gap: 16px;
    width: var(--percentbar);
    height: 30px;
}

.loadingBarDone {
    font-family: 'Peyda';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
    justify-content: right;
    position: absolute;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 3px;
    border-radius: 20px;
    // background-color: #FF7F38E5;
    background-image: linear-gradient(to right, #FF7F38, #FF8F31);
    ;
    box-sizing: border-box;
    left: 0px;
    gap: 16px;
    width: var(--percentBarDone);
    height: 30px;
}

.warningIcon {
    position: relative;
    left: 5px;
}

.buttomText {
    position: relative;
    font-family: 'Peyda';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 26px;
    display: flex;
    color: white;
}


.first_border_information {
    position: relative;
    justify-content: center;
    padding: 5px;
    height: 737px;
    align-self: stretch;
    padding: 8px 8px;
    border-radius: 12px;
    background-color: #1e1e1e;
}

.form_border_info {
    display: flex;
    flex-direction: row;
    align-self: stretch;
    height: 88px;
    padding: 8px 8px;
    border-radius: 12px;
}

.forms_information {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-around;
    display: flex;
    align-items: center;
    align-content: center;
    align-items: flex-start;
    padding: 0px;
    align-self: stretch;
    width: 100%;
    height: 88px;
    gap: 30px;
    padding: 8px 8px;
    border-radius: 12px;
}


.input_info {
    display: flex;
    justify-content: center;
}

form {

    width: 100%;
}


.form_lable_info {
    display: flex;
    justify-content: right;
    color: #FFFFFF;
}

.form_box_info {
    display: flex;
    justify-content: center;
    color: #FFFFFF;
    width: 100%;
    height: 40px;
    padding: 20px 20px;
    margin: 10px 0;
    border: 1px;
    border-radius: 16px;
    box-sizing: border-box;
    background: rgba(70, 70, 70, 0.3);
}

.all_forms_info {
    padding: 5px;
    width: 100%;
}

.upside_info {
    display: flex;
    justify-content: center;
    padding: 5px;
}

label {
    color: #FFFFFF;
    height: 24px;
    font-family: 'Peyda';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    flex-direction: row-reverse;
    display: flex;
    align-items: center;
    text-align: right;
}



.ax_info {
    margin: 60px 40px;
    align-items: center;
    display: flex;
    text-align: center;
    align-items: center;
}

.all_info {
    margin-top: -30px;
    position: relative;
    justify-content: center;
    display: flex;
    color: #AAAAAA;
    flex-direction: row;
    align-items: flex-start;
    background: rgba(70, 70, 70, 0.3);
    align-self: stretch;
    height: 360px;
    gap: 20px;
    padding: 10px 10px;
    border-radius: 12px;
    font-family: 'Peyda';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    text-align: justify;
}

.first_border_information .save_box_info {
    justify-content: space-around;
    gap: 16px;
    height: 56px;
    display: flex;
    justify-content: flex-end;
    font-family: 'Peyda';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: white;
    padding: 10px;
    margin-bottom: 5px;
    border: none;
    border-radius: 8px;
}

.abort_icon {
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: 'Peyda';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    width: 150px;
    height: 56px;
    background-color: #606060;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.save_icon {
    align-items: center;
    display: flex;
    justify-content: center;
    font-family: 'Peyda';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    width: 220px;
    height: 56px;
    background-image: linear-gradient(106.97deg, #FE8A48 -11.29%, #FDA53E 91.8%);
    ;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.upload_icon {
    font-family: 'Peyda';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    width: 270px;
    height: 48px;
    background-image: linear-gradient(106.97deg, #FE8A48 -11.29%, #FDA53E 91.8%);
    ;
    color: white;
    padding: 10px;
    margin: 8px 0;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.add_ax {
    width: 100%;
    height: 20%;
    justify-content: center;
    position: relative;
    display: flex;
    text-align: center;
    border-radius: 20px;
    background-color: rgba(#555555, 50%);
    box-sizing: border-box;
    gap: 16px;
}

ul {
    display: flex;
    list-style: none;
}

a {
    text-decoration: none;
    color: #999999;
}

h1 {
    margin: 0px;
}

h3 {
    margin: 0px;
}

button {
    background-color: transparent;
    cursor: pointer;
    border: none;
    padding: 0px;
}

.aside {
    width: 12%;
    background-color: $secondaryColor;
    padding-top: 32px;

    &__logo {
        margin: auto;
        margin-bottom: 68px;
        display: flex;
        align-items: center;
        justify-content: center;


    }

    &__logoImg {
        width: 43%;
    }

    &__menu {
        width: 78.7%;
        margin: auto;
        color: #999999;
        font-weight: 600;
        font-size: 12px;
        font-style: normal;
    }

    &__menuItem {
        display: flex;
        align-items: center;
        margin-bottom: 40px;

        svg {
            padding-right: 6.9%;
            border-right: 1px solid $secondaryColor;
        }

        span,
        svg path,
        svg {
            transition: all 300ms;
        }

        svg {
            margin-left: 5%;
        }
    }

    &__menuItem:hover svg {
        border-right: 1px solid $primaryColor;

        path {
            stroke: $primaryColor;
        }
    }

    &__menuItem:hover span {
        color: $primaryColor;
    }
}

.section {
    background-color: #010101;
    width: calc(100% - 12%);
    padding-right: 2.3%;
    padding-left: 7.6%;
    padding-bottom: 200px;

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding-top: 44px;
        padding-bottom: 44px;

        &__profile {
            color: $primaryColor;
            font-size: 16px;
            display: flex;
            align-items: center;
            justify-content: space-around;
        }

        .search {
            width: 74.5%;
            color: white;
            position: relative;

            &__input {
                box-sizing: border-box;
                width: 100%;
                height: 64px;
                border: none;
                outline: none;
                padding-right: 7%;
                padding-left: 4%;
                border-radius: 20px;
                color: white;
                background-color: rgba($color: #464646, $alpha: 0.28);
            }

            &__input::placeholder {
                color: white;
                font-size: 16px;
            }

            &__img {
                position: absolute;
                top: 18px;
                right: 13px;
            }

            ul {
                position: absolute;
                left: 15px;
                top: 0px;
                font-size: 14px;

                li {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                li:nth-child(1) {
                    width: 64px;
                    height: 32px;
                    border-radius: 15px;
                    margin-left: 9px;
                    background-color: rgba($color: #464646, $alpha: 0.38);
                }

                li:nth-child(2) {
                    width: 64px;
                    height: 32px;
                    border-radius: 15px;
                    margin-left: 9px;
                    background-color: rgba($color: #464646, $alpha: 0.38);
                }

                li:nth-child(3) {
                    width: 64px;
                    height: 32px;
                    border-radius: 15px;
                    margin-left: 9px;
                    background-color: rgba($color: #464646, $alpha: 0.38);
                }

                li:nth-child(4) svg {
                    padding-left: 9px;
                    padding-right: 9px;
                    border-right: 1px solid white;
                }
            }
        }
    }
}