@font-face {
    font-family: peyda;
    src: url("../fonts/PeydaWeb-Regular.woff");
}

@font-face {
    font-family: peyda;
    src: url("../fonts/PeydaWeb-Thin.woff");
}

$primaryColor: #ffa928;
$secondaryColor: #0f0f0f;

@mixin flex-center {
    display: flex;
    align-items: center;
}

html {
    @media (max-width: 1540px) {
        font-size: 12px;
    }
}

body {
    direction: rtl;
    font-family: peyda;
    display: flex;
    overflow-x: hidden;
    border-left: 1px solid black;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    ul {
        display: flex;
        list-style: none;
    }

    a {
        text-decoration: none;
        color: #999999;
    }

    h1 {
        margin: 0px;
    }

    h3 {
        margin: 0px;
    }

    h4 {
        margin: 0px;
    }

    button {
        background-color: transparent;
        cursor: pointer;
        border: none;
        padding: 0px;
    }

    span {
        font-size: 1rem;
    }

    .sidebar {
        @media (max-width: 768px) {
            display: none;
        }
        width: 12%;
        background-color: $secondaryColor;
        padding-top: 32px;

        &__logo {
            margin: auto;
            margin-bottom: 68px;
            @include flex-center;
            justify-content: center;
        }

        &__logoImg {
            width: 43%;
        }

        &__menu {
            width: 78.7%;
            margin: auto;
            color: #999999;
            font-weight: 600;
            font-size: 12px;
            font-style: normal;
        }

        &__menuItem {
            @include flex-center();
            margin-bottom: 40px;

            svg {
                padding-right: 6.9%;
                border-right: 1px solid $secondaryColor;
            }

            span,
            svg path,
            svg {
                transition: all 300ms;
            }
            svg {
                margin-left: 5%;
            }
        }
        &__menuItem:hover svg {
            border-right: 1px solid $primaryColor;
            path {
                stroke: $primaryColor;
            }
        }

        &__menuItem:hover span {
            color: $primaryColor;
        }
    }

    .main {
        @media (max-width: 768px) {
            width: 100%;
            padding: 0 5%;
        }

        background-color: #010101;
        width: calc(100% - 12%);
        padding-right: 2.3%;
        padding-left: 7.6%;
        padding-bottom: 200px;

        .header {
            @include flex-center();
            justify-content: space-between;
            width: 100%;
            padding-top: 44px;
            padding-bottom: 44px;

            &__profile {
                @media (max-width: 600px) {
                    display: none;
                }

                color: $primaryColor;
                font-size: 16px;
                @include flex-center();
                justify-content: space-around;
            }

            .search {
                @media (max-width: 600px) {
                    width: 100%;
                }

                width: 74.5%;
                color: white;
                position: relative;

                &__input {
                    @media (max-width: 1024px) {
                        padding-right: 8%;
                    }

                    box-sizing: border-box;
                    width: 100%;
                    height: 64px;
                    border: none;
                    outline: none;
                    padding-right: 6%;
                    padding-left: 4%;
                    border-radius: 20px;
                    color: white;
                    background-color: rgba($color: #464646, $alpha: 0.28);
                }

                &__input::placeholder {
                    color: white;
                    font-size: 16px;
                }

                &__img {
                    position: absolute;
                    width: 24px;
                    top: 30%;
                    right: 1.5%;
                }

                ul {
                    @media (max-width: 768px) {
                        display: none;
                    }

                    position: absolute;
                    left: 15px;
                    top: 0px;
                    font-size: 14px;

                    li {
                        @include flex-center();
                        justify-content: center;
                    }

                    li:nth-child(1) {
                        width: 64px;
                        height: 32px;
                        border-radius: 15px;
                        margin-left: 9px;
                        background-color: rgba($color: #464646, $alpha: 0.38);
                    }

                    li:nth-child(2) {
                        width: 64px;
                        height: 32px;
                        border-radius: 15px;
                        margin-left: 9px;
                        background-color: rgba($color: #464646, $alpha: 0.38);
                    }

                    li:nth-child(3) {
                        width: 64px;
                        height: 32px;
                        border-radius: 15px;
                        margin-left: 9px;
                        background-color: rgba($color: #464646, $alpha: 0.38);
                    }

                    li:nth-child(4) svg {
                        padding-left: 9px;
                        padding-right: 9px;
                        border-right: 1px solid white;
                    }
                }

                &__filter {
                    @media (max-width: 768px) {
                        @include flex-center();
                        justify-content: space-between;
                        width: 65px;
                        position: absolute;
                        left: 3%;
                        top: 31%;
                    }
                    display: none;

                    span {
                        display: flex;
                    }

                    svg {
                        border-right: 1px solid white;
                        padding-right: 8px;
                    }
                }
            }
        }

        .playlistCard {
            height: 300px;
            width: 100%;
            background-image: url("../images/playlist-info.png"),
                linear-gradient(90.01deg, rgba(15, 15, 15, 0.45) 0.07%, $secondaryColor 54.18%, $primaryColor 99.99%);
            border-radius: 20px;
            margin-bottom: 67px;
            color: rgba($color: #ffffff, $alpha: 0.6);

            &__info {
                height: 204px;
                padding-right: 4.6%;
                padding-top: 3.7%;
                @include flex-center();

                div h1 {
                    color: white;
                    font-size: 32px;
                    font-weight: bold;
                    margin-bottom: 16px;
                }
            }

            &__img {
                width: 14.1%;
                // height: 204px;
                border-radius: 30px;
                margin-left: 48px;
            }

            &__detail {
                width: 60%;
                height: 204px;
            }

            &__list {
                width: 116px;
                height: 34px;
                border-radius: 14px;
                @include flex-center();
                justify-content: center;
                margin-bottom: 12px;
                background-color: rgba($color: #fb8a0d, $alpha: 0.2);
                color: $primaryColor;
            }

            &__infoWrapper {
                @include flex-center();
                margin-bottom: 16px;
            }

            &__songsWrapper {
                @include flex-center();
                padding-left: 19px;
                border-left: 1px solid rgba($color: #ffffff, $alpha: 0.2);

                svg {
                    margin-left: 8px;
                }
            }

            &__durationWrapper {
                @include flex-center();
                padding-right: 19px;

                svg {
                    margin-left: 8px;
                }
            }

            &__playBtn {
                width: 100%;
                display: flex;
                img {
                    width: 7.5%;
                }
            }
        }

        table {
            color: white;
            border-spacing: 0px;
            border-collapse: collapse;
            width: 100%;

            th {
                padding-bottom: 24px;
                padding-top: 24px;
                border-bottom: 1px solid #242533;
            }

            td {
                padding-top: 36px;
            }

            .row {
                &__number {
                    width: 50px;
                }

                &__title {
                    width: 200px;
                    text-align: right;
                }

                &__album {
                    width: 350px;
                }

                &__date {
                    width: 350px;
                }

                &__menu {
                    width: 160px;
                }
            }

            tbody {
                td {
                    text-align: center;
                    height: 66px;

                    .equlaizerImg {
                        display: none;
                    }
                }

                .musicCard {
                    @include flex-center();
                    position: relative;

                    &__info {
                        text-align: right;
                        height: 66px;
                        margin-right: 15px;
                        color: white;
                    }

                    &__icon {
                        position: absolute;
                        right: 10%;
                        width: 28px;
                        height: 28px;
                        display: none;
                    }

                    &__showIcon {
                        display: block;
                    }
                }

                .musicInfo {
                    @include flex-center();
                    justify-content: end;

                    .likeBtn {
                        padding-left: 24px;
                        padding-right: 30px;
                    }
                }

                .primaryColor {
                    color: $primaryColor;
                }
            }
        }
    }

    .musicPlayer {
        position: fixed;
        bottom: 0px;
        right: 0px;
        width: 87.9%;
        height: 88px;
        padding-right: 14.1%;
        color: white;
        background-color: rgba($color: #292929, $alpha: 0.8);

        &__container {
            @include flex-center();
            justify-content: space-between;
            width: 89%;
            padding-top: 12px;
            padding-bottom: 12px;
        }

        &__controll {
            width: 80%;
            @include flex-center();
            justify-content: space-between;
        }

        &__info {
            @include flex-center();
            width: 20%;
        }

        &__img {
            width: 40%;
        }

        &__description {
            height: 64px;
            margin-right: 10px;
        }

        &__audio {
            @include flex-center();
            justify-content: space-between;
            width: 75%;
        }

        &__btns {
            width: 5%;
            @include flex-center();
        }

        &__next {
            margin-left: 10%;
        }

        &__pause {
            margin-left: 10%;
        }

        &__sound {
            @include flex-center();
            justify-content: space-between;
            width: 15%;
        }

        &__lineVolume[type="range"] {
            overflow: hidden;
            -webkit-appearance: none;
            border-radius: 5px;
            margin-left: 8%;
            background-color: rgba($color: #464646, $alpha: 0.5);
        }

        &__lineVolume[type="range"]::-webkit-slider-runnable-track {
            height: 5px;
            -webkit-appearance: none;
            color: $primaryColor;
        }

        &__lineVolume[type="range"]::-webkit-slider-thumb {
            width: 5px;
            height: 5px;
            border-radius: 50%;
            -webkit-appearance: none;
            cursor: ew-resize;
            background: white;
            box-shadow: -80px 0 0px 80px white;
        }

        &__volumeBtn {
            @include flex-center();
            align-items: center;
        }

        &__time {
            @include flex-center();
            justify-content: space-between;
            width: 65%;
        }

        &__lineTimeWrapper[type="range"] {
            overflow: hidden;
            width: 65%;
            -webkit-appearance: none;
            border-radius: 5px;
            background-color: rgba($color: #464646, $alpha: 0.5);
        }

        &__lineTimeWrapper[type="range"]::-webkit-slider-runnable-track {
            height: 5px;
            width: 100%;
            -webkit-appearance: none;
            color: $primaryColor;
        }

        &__lineTimeWrapper[type="range"]::-webkit-slider-thumb {
            width: 5px;
            height: 5px;
            border-radius: 50%;
            -webkit-appearance: none;
            cursor: ew-resize;
            background: white;
            box-shadow: -200px 0 0px 200px $primaryColor;
        }

        &__menu {
            @media (max-width: 1024px) {
                display: none;
            }

            width: 71px;
            @include flex-center();
            justify-content: space-between;
        }
    }
}
