@font-face {
  font-family: peyda;
  src: url("../fonts/PeydaWeb-Regular.woff");
}
@font-face {
  font-family: peyda;
  src: url("../fonts/PeydaWeb-Thin.woff");
}
body {
  direction: rtl;
  font-family: peyda;
  display: flex;
  margin: 0px;
  overflow-x: hidden;
  color: white;
  height: 100%;
  min-height: 100vh;
}
body ul {
  display: flex;
  list-style: none;
}
body a {
  text-decoration: none;
  color: #999999;
}
body h1 {
  margin: 0px;
}
body p {
  margin: 0px;
}
body button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  padding: 0px;
}
body .sidebar {
  width: 12%;
  background-color: #0f0f0f;
  padding-top: 32px;
}
@media (max-width: 768px) {
  body .sidebar {
    display: none;
  }
}
body .sidebar__logo {
  margin: auto;
  margin-bottom: 68px;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .sidebar__logoImg {
  width: 43%;
}
body .sidebar__menu {
  width: 78.7%;
  margin: auto;
  color: #999999;
  font-weight: 600;
  font-size: 12px;
  font-style: normal;
}
body .sidebar__menuItem {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
body .sidebar__menuItem svg {
  padding-right: 6.9%;
  border-right: 1px solid #0f0f0f;
}
body .sidebar__menuItem span,
body .sidebar__menuItem svg path,
body .sidebar__menuItem svg {
  transition: all 300ms;
}
body .sidebar__menuItem svg {
  margin-left: 5%;
}
body .sidebar__menuItem:hover svg {
  border-right: 1px solid #ffa928;
}
body .sidebar__menuItem:hover svg path {
  stroke: #ffa928;
}
body .sidebar__menuItem:hover span {
  color: #ffa928;
}
body .main {
  background-color: #010101;
  padding-right: 4.4%;
  padding-left: 4.4%;
  padding-bottom: 200px;
  width: 100%;
}
body .main .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 44px;
  padding-bottom: 44px;
}
body .main .header__profile {
  color: #ffa928;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
@media (max-width: 600px) {
  body .main .header__profile {
    display: none;
  }
}
body .main .header .search {
  width: 74.5%;
  color: white;
  position: relative;
}
@media (max-width: 600px) {
  body .main .header .search {
    width: 100%;
  }
}
body .main .header .search__input {
  box-sizing: border-box;
  width: 100%;
  height: 64px;
  border: none;
  outline: none;
  padding-right: 6%;
  padding-left: 4%;
  border-radius: 20px;
  color: white;
  background-color: rgba(70, 70, 70, 0.28);
}
@media (max-width: 1024px) {
  body .main .header .search__input {
    padding-right: 8%;
  }
}
@media (max-width: 420px) {
  body .main .header .search__input {
    padding-right: 11%;
  }
}
body .main .header .search__input::placeholder {
  color: white;
  font-size: 16px;
}
body .main .header .search__img {
  position: absolute;
  width: 24px;
  top: 30%;
  right: 1.5%;
}
body .main .header .search ul {
  position: absolute;
  left: 15px;
  top: 0px;
  font-size: 14px;
}
@media (max-width: 768px) {
  body .main .header .search ul {
    display: none;
  }
}
body .main .header .search ul li {
  display: flex;
  align-items: center;
  justify-content: center;
}
body .main .header .search ul li:nth-child(1) {
  width: 64px;
  height: 32px;
  border-radius: 15px;
  margin-left: 9px;
  background-color: rgba(70, 70, 70, 0.38);
}
body .main .header .search ul li:nth-child(2) {
  width: 64px;
  height: 32px;
  border-radius: 15px;
  margin-left: 9px;
  background-color: rgba(70, 70, 70, 0.38);
}
body .main .header .search ul li:nth-child(3) {
  width: 64px;
  height: 32px;
  border-radius: 15px;
  margin-left: 9px;
  background-color: rgba(70, 70, 70, 0.38);
}
body .main .header .search ul li:nth-child(4) svg {
  padding-left: 9px;
  padding-right: 9px;
  border-right: 1px solid white;
}
body .main .header .search__filter {
  display: none;
}
@media (max-width: 768px) {
  body .main .header .search__filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 65px;
    position: absolute;
    left: 3%;
    top: 31%;
  }
}
body .main .header .search__filter span {
  display: flex;
}
body .main .header .search__filter svg {
  border-right: 1px solid white;
  padding-right: 8px;
}
body .main .upload {
  border: 2px dashed rgba(255, 255, 255, 0.25);
  text-align: center;
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .main .upload__container h3 {
  font-size: 14px;
}
body .main .upload__btn {
  background-color: #ffa928;
  color: white;
  width: 100%;
  height: 48px;
  padding: 12px;
  border-radius: 10px;
  transition: all;
  transition-duration: 450ms;
  font-family: peyda;
}
body .main .upload__btn:hover {
  background-color: rgba(255, 169, 40, 0.8);
}
body .main .context {
  display: flex;
  margin-top: 16px;
}
body .main .context p {
  margin-right: 4px;
}
body .menu {
  display: none;
  position: fixed;
  height: 64px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  width: 100%;
  font-size: 10px;
  padding-right: 4.4%;
  padding-left: 4.4%;
  box-sizing: border-box;
  background-color: rgba(70, 70, 70, 0.5);
}
body .menu__wrapper {
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body .menu__item {
  text-align: center;
}
body .menu__item:hover div svg path {
  stroke: #ffa928;
}
body .menu__item:hover span {
  color: #ffa928;
}

/*# sourceMappingURL=style.css.map */
